<div class="row">
   <div class="col-md-8 col-md-offset-2">
     <% @user.favorited_proposals.each do |proposal| %>
     <div class="panel panel-default">
       <div class="panel-heading">
         <h3 class="panel-title">
           <a href="/users/<%= proposal.user_id %>"><%= proposal.user.username %></a>
           <small>
             <%= time_ago_in_words(proposal.created_at) %> ago
           </small>
         </h3>
       </div>
       <div class="panel-body">
         <a href="/proposals/<%= proposal.id %>">
           <img src="<%= proposal.image %>" class="img-responsive">
         </a>
         <p></p>
         <p>
           <% if proposal.favorites.pluck(:user_id).include?(current_user.id) == true %>
           <form action="/delete_favorite/<%= proposal.favorites.where({:user_id => current_user.id}).pluck(:id)[0] %>">
             <% else %>
             <form action="/create_favorite" method="post">
               <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
               <input type="hidden" name="proposal_id" value="<%= proposal.id %>">
               <input type="hidden" name="user_id" value="<%= current_user.id %>">
               <% end %>
               <button class="btn btn-link">
                 <i class="fa fa-heart-o"></i>
               </button>
               <% if proposal.fans.count == 0 %>
               Be the first to favorite this proposal</p>
               <% elsif proposal.fans.count == 1 %>
               <%= proposal.fans.pluck(:username)[0] %> favorites this
             </p>
             <% else %>
             <% temp = Array.new %>
             <% temp = proposal.fans.pluck(:username).first(proposal.fans.pluck(:username).length-1) %>
             <% if temp.length == 1 %>
             <% temp.each do |fan| %>
             <%= fan %>
             <% end %>
             and
             <%= proposal.fans.pluck(:username)[temp.length] %>
             favorite this
             <% else %>
             <% temp.each do |fan| %>
             <%= fan %>,
             <% end %>
             and
             <%= proposal.fans.pluck(:username)[temp.length] %>
             favorite this
             <% end %>
           </p>
           <% end %>
         </form>
         <ul class="media-list">
           <% proposal.feedbacks.each do |feedback| %>
           <li class="media">
             <div class="media-body">
               <h6 class="media-heading">
                 <a href="/users/<%= feedback.user_id %>"><%= feedback.user.username %></a>
                 <small>
                   <%= time_ago_in_words(feedback.created_at) %> ago
                 </small>
               </h6>
               <%= feedback.body %>
             </div>
           </li>
           <% end %>
           <li class="media">
             <div class="media-body">
               <form action="/create_feedback" method="post">
                 <!-- Hidden input for authenticity token to protect from forgery -->
                 <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                 <input type="hidden" name="proposal_id" value="<%= proposal.id %>">
                 <input type="hidden" name="user_id" value="<%= current_user.id %>">
                 <div class="form-group">
                   <label for="body" class="sr-only">
                     Body
                   </label>
                   <input type="text" id="body" name="body" placeholder="Add a feedback..." class="form-control" required>
                 </div>
               </form>
             </div>
           </li>
         </ul>
       </div>
     </div>
     <% end %>
   </div>
 </div>
